{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block index %} <!-- this is the name of the block below -->
<div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-1 text-center" style="font-size:100px; padding-top:25vh">
                        <h1 style="font-weight:300">An NBA Realtime Trivia Generator</h1>
                        <h3 style="font-weight:300; line-height:32px">
                        FactStream is a realtime application that surfaces interesting NBA factoids and places them in the context of historic NBA games and events. 
                        </h3>
                </div>
        </div>
{% endblock %} 
