{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block live_game %} <!-- this is the name of the block below -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <center>
                <h2>
                    <!-- ko foreach: stats.teams -->
                    <a data-bind="attrLeagueUrl: {href: url()}, text: loc() + ' ' + name()"></a> 
                    <span data-bind="text: pts()"></span> 
                    <!-- /ko -->
                </h2> 
            </center>
            <!-- ko foreach: stats.teams -->
            <h4><a data-bind="attrLeagueUrl: {href: url()}, text: loc() + ' ' + name()"></a></h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed box-score-team">
                    <thead>
                        <tr><th>FG</th><th>2Pt</th><th>3Pt</th><th>FT</th><th>Reb</th><th>Ast</th><th>TO</th><th>Stl</th><th>Pts</th></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-bind="text: fg"></td>
                        <td data-bind="text: tp"></td>
                        <td data-bind="text: thrp"></td>
                        <td data-bind="text: ft"></td>
                        <td data-bind="text: trb"></td>
                        <td data-bind="text: ast"></td>
                        <td data-bind="text: tov"></td>
                        <td data-bind="text: stl"></td>
                        <td data-bind="text: pts"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /ko -->
            <div id="affixFactoids">
                <span> <h5><strong>Factoids</strong></h5> </span>
                <div id="factoidList" style="overflow: auto; height: 200px;">
                    <!-- ko foreach: factoid -->
                    <p data-bind="html: $data"></p>
                    <!-- /ko -->
                </div>
            </div>
            <div>
                <center>
                <a href="https://youtu.be/djEDealUVHY" target="_blank">Video Demo</a>
            </center>
            </div>
        </div>
        <div class="col-md-3">
            <div id="affixPlayByPlay">
                <span> <h5><strong>Play by Play events </strong><span data-bind="text: qtr()"></span></h5> </span>
                <div id="playByPlayList" style="overflow: auto; height: 500px;">
                    <!-- ko foreach: playByPlay -->
                    <p data-bind="html: $data"></p>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

{% endblock %}
