{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block slides %} <!-- this is the name of the block below -->
<div class="row" style="min-height:100vh;">
                <div class="col-md-10 col-md-offset-1 text-center" style="padding-top:10vh; padding-bottom:5vh; font-weight:300">
                        <h2>Presentation</h2>
<iframe src="https://docs.google.com/presentation/d/1YWoJr8_a0WfJo9WVtIQBLB7bqI3fMTxX8fM9PhQN3cg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="683" height="541" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
</div>

{% endblock %} 
